.lt-input-label {
    display: flex;
    flex-direction: column;
    label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        order: 1;
        margin-bottom: 10px;
    }

    input {
        order: 2;
        border-radius: 4px;
        background-color: #fcfcfb;
        border: 1px solid #ced4da;
        font-size: 16px;
        width: auto;
        padding: 10px 12px;
        transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &:focus {
            box-shadow: rgb(25 118 210 / 25%) 0 0 0 0.2rem;
            border-color: #1976d2;
            outline: 0;
        }

        &:focus + label {
            color: #1976d2;
        }
    }

    span {
        order: 3;
    }
}
