.lt-tabs {
    &__nav {
        background-color: $main-color;
        height: 36px;
        font-weight: 400px;
    }

    &__btn {
        position: relative;
        padding: 0 1.25rem;
        cursor: pointer;
        transition: opacity 0.3s;
        height: 100%;
        min-width: 120px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:not(.active) {
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }

        &.active {
            color: $warning;
            border-bottom: 1px solid $warning;
        }
    }

    &__pane {
        display: none;
        padding: 2rem 1.25rem;

        &.visible {
            display: block;
        }
    }
}
