.lt-tabs {
    &__nav {
        background-color: var(--main-color);
        height: 36px;
        font-weight: 400px;
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__btn {
        position: relative;
        padding: 0 1.25rem;
        cursor: pointer;
        transition: opacity 0.3s;
        height: calc(100% - 1px);
        min-width: 90px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:not(.active) {
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }

        &.active {
            color: $warning;
            border-bottom: 1px solid $warning;
        }
    }

    &__content {
        margin-top: 20px;
    }

    &__pane {
        display: none;

        &.visible {
            display: block;
        }
    }
}
