.theme-mode-light {
    $main-color: $main-color-light;
    $main-bg: $main-bg-light;
    $main-bg-section: $main-bg-section-light;
    $txt-color: $txt-color-light;
    $main-bg-hightlight: $main-bg-hightlight-light;
}

.theme-mode-dark {
    $main-color: $main-color-dark;
    $main-bg: $main-bg-dark;
    $main-bg-section: $main-bg-section-dark;
    $txt-color: $txt-color-dark;
    $main-bg-hightlight: $main-bg-hightlight-dark;
}
