.input-wrapper {
    background-color: var(--main-color);
    border-radius: 8px;
    border: 1px solid var(--main-bg-hightlight);
    height: 30px;
    width: 150px;
    padding: 0 5px;
    display: flex;
    align-items: center;

    span {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        background-color: var(--main-bg-hightlight);
        @include flex(center, center);
        cursor: pointer;
    }

    input {
        outline: 0;
        border: 0;
        background-color: transparent;
        width: 100px;
        text-align: center;
        color: var(--txt-color);
        font-weight: 700;
        font-size: 14px;
    }
}
