.layout {
    color: $txt-color;
    padding: 10px;
    background-color: $main-bg;
    height: 100vh;
}

.layout__content {
    padding-left: 10px;
}

.layout__content-main {
    margin-top: 20px;
    margin-bottom: 10px;
    height: calc(100vh - 110px);
    background-color: antiquewhite;
    overflow-y: auto;
}
